#!/bin/bash

# kops
export AWS_REGION="{{ kubeatf.vars.aws_region }}"
{% if nodeip.stdout is defined %}
 export KUBELET_URL="https://{{ nodeip.stdout }}:10250/runningpods/"
{% endif %}
{% if othernodeip.stdout is defined %}
export KUBELET_OTHER_WORKER_URL="https://{{ othernodeip.stdout }}:10250/runningpods/"
{% endif %}
{% if masterip.stdout is defined %}
export KUBELET_MASTER_URL="https://{{ masterip.stdout }}:10250/runningpods/"
{% endif %}
{% if nodeip.stdout is defined %}
export KUBELET_RO_URL="http://{{ nodeip.stdout }}:10255/metrics"
{% endif %}
{% if othernodeip.stdout is defined %}
export KUBELET_OTHER_WORKER_RO_URL="http://{{ othernodeip.stdout }}:10255/metrics"
{% endif %}
{% if masterip.stdout is defined %}
export KUBELET_MASTER_RO_URL="http://{{ masterip.stdout }}:10255/metrics"
{% endif %}
{% if kubeatf.release | match("^1.8") %}
export DASHBOARD_URL="https://{{ dashboardsvc.stdout }}.kube-system"
{% endif %}
{% if heapstersvc.stdout is defined %}
export HEAPSTER_URL="http://{{ heapstersvc.stdout }}.kube-system/metrics"
{% endif %}
