#!/bin/bash

# kops
export AWS_REGION="{{ kubeatf.vars.aws_region }}"
{% if nodeip.stdout is defined %}
 export KUBELET_URL="https://{{ nodeip.stdout }}:10250/runningpods/"
{% endif %}
{% if othernodeip.stdout is defined %}
export KUBELET_OTHER_WORKER_URL="https://{{ othernodeip.stdout }}:10250/runningpods/"
{% endif %}
{% if masterip.stdout is defined %}
export KUBELET_MASTER_URL="https://{{ masterip.stdout }}:10250/runningpods/"
{% endif %}
{% if nodeip.stdout is defined %}
export KUBELET_RO_URL="http://{{ nodeip.stdout }}:10255/metrics"
{% endif %}
{% if othernodeip.stdout is defined %}
export KUBELET_OTHER_WORKER_RO_URL="http://{{ othernodeip.stdout }}:10255/metrics"
{% endif %}
{% if masterip.stdout is defined %}
export KUBELET_MASTER_RO_URL="http://{{ masterip.stdout }}:10255/metrics"
{% endif %}
{% if dashboardsvc.stdout is defined %}
export DASHBOARD_URL="http://{{ dashboardsvc.stdout }}.kube-system"
{% endif %}
{% if calicoetcdsvc.stdout is defined %}
export CALICO_ETCD_URL="http://{{ calicoetcdsvc.stdout }}.kube-system:6666/v2/keys"
{% endif %}
