tectonic_admin_email = "admin@admin.com"
tectonic_admin_password_hash = "$2a$15$4YRjTlRj2Sn8dVgHPAOVz.Rbs7jHSlf8FzeJYPmvzUxXzE6NguxYG"
tectonic_admin_password = "changeme"
tectonic_aws_etcd_ec2_type = "{{ kubeatf.vars.tectonic_etcd_size }}"
tectonic_aws_etcd_root_volume_iops = "100"
tectonic_aws_etcd_root_volume_size = "30"
tectonic_aws_etcd_root_volume_type = "gp2"
tectonic_aws_external_vpc_public = true
tectonic_aws_master_ec2_type = "{{ kubeatf.vars.tectonic_master_size }}"
tectonic_aws_master_root_volume_iops = "100"
tectonic_aws_master_root_volume_size = "30"
tectonic_aws_master_root_volume_type = "gp2"
tectonic_aws_region = "{{ kubeatf.vars.aws_region }}"
tectonic_aws_ssh_key = "{{ kubeatf.vars.aws_keypair }}"
tectonic_aws_vpc_cidr_block = "10.0.0.0/16"
tectonic_aws_worker_ec2_type = "{{ kubeatf.vars.tectonic_worker_size }}"
tectonic_aws_worker_root_volume_iops = "100"
tectonic_aws_worker_root_volume_size = "30"
tectonic_aws_worker_root_volume_type = "gp2"
tectonic_base_domain = "{{ kubeatf.vars.dns_zone_name }}"
tectonic_calico_network_policy = "{{ kubeatf.vars.tectonic_calico_enabled }}"
tectonic_cl_channel = "stable"
tectonic_cluster_cidr = "10.2.0.0/16"
tectonic_cluster_name = "{{ kubeatf.vars.cluster_name }}"
tectonic_etcd_count = "{{ kubeatf.vars.tectonic_etcd_count }}"
tectonic_experimental = false
tectonic_license_path = "license.txt"
tectonic_master_count = "{{ kubeatf.vars.tectonic_master_count }}"
tectonic_pull_secret_path = "config.json"
tectonic_service_cidr = "10.3.0.0/16"
tectonic_stats_url = "https://stats-collector.tectonic.com"
tectonic_vanilla_k8s = false
tectonic_worker_count = "{{ kubeatf.vars.tectonic_worker_count }}"
